#projets{
    padding-top: 10rem;
    background-image: url("../assets/img/image-projets.jpg");

    background-repeat: no-repeat;
    background-size: cover;
}

iframe{
    width : 100%
}

.podcast{

    justify-content: center;

}
.podcast img{
    width: 50%;
}

.podcast_commentaires{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-weight: bold;
}
.card-group{
    margin-top: 5rem;
}


.explication_projet1{


    background: rgba(255, 255, 255, 0.194);
    border-radius: 10px;
    border:  1px solid #fff;
    box-shadow: 0 0 6px 0 rgba(6, 3, 6, 0.02);
    margin-left: 10rem;
    margin-right: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;


}



audio{
    width: 100%;

}

.resume_projet1{
display: flex;
    align-items: center;

}

.resume_projet1 img{
    width: 20rem;
}


.containeur{
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

}
/*.spinner{
    width: 200px;
    height: 200px;
    animation: Morph 5000ms infinite;
}

@keyframes Morph {
    0%,
    100%{
        border-radius: 50%;
        transform: rotate(0deg);
        background-color: pink;
    }
    50%{
        border-radius: 0%;
        transform: rotate(180deg);
        background-color: lightseagreen;
    }
}

 */

.presentation{

    padding-left: 9.5rem;
}
