/*Présentation des projets*/
#ingénierie{
    padding-top: 10rem;
    /*background-image: url("../assets/img/image-projets.jpg");*/
    background-color: #101010;
    background-repeat: no-repeat;
    background-size: cover;
}
#ingénierie .carousel-item img{
    width: 100px!important;
}
/*agrandissement images*/
@media (max-width: 1024px){
    #ingénierie .d-flex{

        flex-direction: column;
    }
}

@media (max-width: 1024px){
    #ingenierie3 {

        margin-left: 0!important;
    }
}
@media (max-width: 350px){
    #ingénierie .carousel-item img{

        width: 40px!important;
    }
}



/*Conteneur de tous les projets*/
#projets_details{

    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

    padding-left: 5rem;
    padding-right: 5rem;

    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: rgba(220, 220, 220, 0.63);*/
    background-color: white;
}

/*Conteneur projet 1 : la conquête de Mars*/
#mars{
    margin-top: 5rem;

}

#affichePodcast{
    cursor: pointer;
}

#infographie{
    cursor: pointer;
}
/*Conteneur projet 2 : modéliser un objet 3D*/
#ingénierie2{
    margin-top: 10rem;
    margin-bottom: 5rem;
    background-color: rgba(100, 161, 157, 0.42);

    /*background-image: url("../assets/img/image-projets.jpg");*/
}


@media (max-width: 1024px){
    #ingénierie2 .d-flex{

        flex-direction: column;

    }
}
@media (max-width: 1440px){
    #ingénierie2 .d-flex{

        flex-direction: column;
    }
}
@media (max-width: 1024px){
    #ingénierie2 .d-flex iframe{

        width: 300px;
        height: 150px;
        justify-content: start;


    }
}
@media (max-width: 1440px){
    #ingénierie2 .d-flex iframe{

        width: 300px;
        height: 150px;
        justify-content: start;
    }
}

.genially{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1440px){
    .genially{

        flex-direction: column;
    }

}

.boutonFusion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sousTitreFusion{
    color: rgba(0, 0, 0, 0.84);
}

/*Conteneur projet 3 : wordpress*/
#ingenierie3{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/*Conteneur projet 4 : finley*/
#ingenierie4 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: rgba(100, 161, 157, 0.42);
}

/*Conteneur projet 5 : constellations*/
#ingenierie5{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#infographie:hover{
    transform: scale(1.1);
    z-index: 200;
}

#affichePodcast:hover{
    transform: scale(1.1);
    z-index: 200;
}

.boutonnn:hover{
    background-color: #64a19d;
    color: #101010;
    font-weight: bold;

}

.boutonnn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    font-size: 0.8rem;
    padding: 0 0 0 0;
    background-color: #101010;
}

.boutonnnn{
    display: flex;
    align-items: center;
    justify-content : center;
    width: 150px;
    height: 60px;
    font-size: 0.8rem;
    padding: 0 0 0 0;
    border: 1px solid #101010;
    color: #101010;
}

@media (max-width: 1024px) {
    .haut-de-page-projets{
        justify-content: center!important;
        padding: 0 0 0 0;
    }

}

@media (max-width: 425px) {
    #projets_details{
        padding-right: 1px;
        padding-left: 1px;
    }
    
}
/*.podcast{

    justify-content: center;

}
.podcast img{
    width: 50%;
}

.podcast_commentaires{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-weight: bold;
}
.card-group{
    margin-top: 5rem;
}


.explication_projet1{


    background: rgba(255, 255, 255, 0.194);
    border-radius: 10px;
    border:  1px solid #fff;
    box-shadow: 0 0 6px 0 rgba(6, 3, 6, 0.02);
    margin-left: 10rem;
    margin-right: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;


}



audio{
    width: 100%;

}

.resume_projet1{
display: flex;
    align-items: center;

}

.resume_projet1 img{
    width: 20rem;
}

*/





/*.presentation{

    padding-left: 9.5rem;
}

.carte_presentation{
    display: flex;
    flex-wrap: wrap;
}*/




/*.conteneurIframe{
    position: relative;
}
.conteneurIframe iframe{
    position: absolute;

    width: 100%;
    height: 100%;
    z-index: 20;
}

