


#cv{
    background-color: #101010;
}

#containerCV{
    padding-top: 15rem;


}

#aboutcv{


height: 30vh;
    margin-bottom: 5rem;

}
@media (max-width: 1024px){
    #aboutcv{

        height: 80vh;


    }
}

#aboutcv img{
    width: 250px;
}

.section-title h2{
    color: #64a19d;
    font-weight: bolder;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px){
    .content{

        flex-direction: column;
        height: auto;


    }
}

.cvTitle{
    background: linear-gradient(rgba(100, 161, 157, 0.7), rgb(255, 255, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}