


#cv{
    background-color: #101010;
}

#containerCV{
    padding-top: 15rem;


}

#aboutcv{


height: 30vh;
    margin-bottom: 5rem;

}
@media (max-width: 1024px){
    #aboutcv{

        height: 100vh;
    }
    #aboutcv h1 {
        font-size: 1.25rem;
    }

    #aboutcv p  {
        font-size: 1rem;
    }
}


#aboutcv img{
    width: 250px;
}

.section-title h2{
    color: #64a19d;
    font-weight: bolder;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px){
    .content{

        flex-direction: column;
        height: auto;


    }
}

.cvTitle{
    background: linear-gradient(rgba(100, 161, 157, 0.7), rgb(255, 255, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.boutonnnn{
    display: flex;
    align-items: center;
    justify-content : center;
    width: 150px;
    height: 60px;
    font-size: 0.8rem;
    padding: 0 0 0 0;
    border: 1px solid #101010;
    color: #101010;
    margin-top: 5rem;
    margin-right: 5rem;
}

.haut-de-page{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 5rem;

}

@media (max-width: 1024px) {
    .haut-de-page{
        justify-content: center;
        padding: 0 0 0 0;

    }

    .boutonnnn{
        margin-right: 0;
    }

}